.tcp-layers{
    flex-grow: 1;
}
.tcp-layers .list-group-item:nth-child(2) {
    flex-grow: 8;
}
.tcp-layers .list-group-item:nth-child(5) {
    flex-grow: 4;
}
.section-header {
    text-transform: uppercase;
}
.topology .figure-caption {
    font-size: 25px;
}
.h2 {
    font-size: 25px;
}
.h3 {
    font-size: 15px;
}