.header-navbar {
    background-color: #028;
}

.tcp-layers {
    flex-grow: 1;
}

.tcp-layers .list-group-item:nth-child(2) {
    flex-grow: 8;
}

.tcp-layers .list-group-item:nth-child(5) {
    flex-grow: 4;
}

.section-header {
    text-transform: uppercase;
    text-align: center;
    border-bottom: 2px solid #028;
    border-top: 2px solid #028;
    width: 100%;
}

.topology .figure-caption {
    font-size: 25px;
}

.h2 {
    font-size: 25px;
}

.h3 {
    font-size: 15px;
}
