.gallery {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 900px;
    margin: 0 auto;
    grid-template-rows: 300px;
}

.gallery figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery img {
    max-width: 300px;
    max-height:100%;
}

.section_topology {
    color: #00a;
}

.section_topology img {
}

